
.navbar{
  color: white;
  height: 60px;
}

.Header_Wrapper{
  display: flex
}
.logo_amazon{
  display: flex;
  align-items: center;
 

}


.amazon{
  background-image: url(/images/login-logo.png);
  background-position: -5px -130px;
  height: 31px;
  width: 103px;
  margin-left: 10px;
}


.locationWarpper{
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 55px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;


}

.locationWarpper:hover{
  border: 1pt solid white;
}

.texts{
  display: flex;
  flex-direction: column;

}

.text{
  font-size: 12px;
  font-weight: 500;
}

.input_group{
  height: 45px;
  cursor: pointer;
}
.input-group:focus{
 outline: 2pt solid #F3A847
}

.input-group-text{
  cursor: pointer;
  width: 70px;
}
.input-group-text option{
  text-align: left
}

.input-group-text:focus{
  outline-color: #F3A847
}

.inputSearch {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #F3A847;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.input_form:focus{
  outline: #F3A847
}

.desc{
  font-size: 18px;
  font-weight: 600;
}
.flag_wrapper{
  display: flex;
  margin-left: 10px;
  margin-right: 20px;
  flex-direction: row;
  align-items: center;
}
 .country_flag{
  /* width: 100%; */
  height: 25px;
  object-fit: cover
}

.flag_arrow_left{
  margin-left: 10px;
}

.sign_desc{
  font-size: 12px;
  font-weight: bold;
  width: 120px;
  display: flex;
  flex-direction: row

}
.return_desc{
  font-size: 14px;
  font-weight: bold;
  width: 60px;
}

.cart_desc{
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding-top: 5px;
}
.shooping_Cart{
  width: 40px;
  height: 40px;
}