
.loginWrapper{
    background-color: white;
}


.logo{
  background-image: url(../public/images/login-logo.png);
  background-position: -5px -130px;
  height: 31px;
  width: 103px;
  margin-left: 120px;
}

.singIn_form{
    border: 1pt solid #DDDDDD ;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}
.signIn_head{
    font-size: 24px;
    font-weight: 400;
}

.singIn_form label{
    font-size: 14px;
    font-weight: 500;
}

.singIn_form .input_box{
    width: 100%;
    height: 35px;
}
.input_box:focus {
    border-color: #e77600;
    
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.btn_singIn{
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    color: black;
    width: 100%;
    height: 35px;
    border: 1pt solid #f0c14b;
    border-radius: 4px;

}

.agree{
    margin-top: 10px;
    width: 100%

}
.agree_desc{
    font-size: 13px;
    font-weight: 500;
}


.new_account{
    margin-top: 20px;
    margin-bottom: 20px;
}


.new_account_desc{
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.new_account_desc h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.new_account_desc::after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 40%;
    margin-top: -1px;
    z-index: 1;
}



.btn_create{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    width: 100%;
    height: 29px;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;

}